* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_2 {
  width: 100%;
  height: 5640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3 {
  width: 46px;
  height: 29px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 140287px;
  left: 139987px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.20000000298023224);
  overflow: hidden;
}
.v2_160 {
  width: 51px;
  color: rgba(33,117,155,1);
  position: absolute;
  top: 140267px;
  left: 139964px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_170 {
  width: 45px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 230px;
  left: 99959px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_171 {
  width: 41px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 288px;
  left: 99959px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_214 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 198398px;
  left: 69px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_215 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 198398px;
  left: 1810px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_229 {
  width: 41px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 2615px;
  left: 99038px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_231 {
  width: 105px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 246960px;
  left: 770px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_232 {
  width: 75px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 246960px;
  left: 860px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v2_233 {
  width: 110px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 246960px;
  left: 950px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_234 {
  width: 92px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 246960px;
  left: 1040px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_240 {
  width: 65px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 3293px;
  left: 99026px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_242 {
  width: 63px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 146224px;
  left: 424px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_243 {
  width: 45px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 146224px;
  left: 459px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_244 {
  width: 66px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 146224px;
  left: 494px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_245 {
  width: 55px;
  color: rgba(129,138,145,1);
  position: absolute;
  top: 146224px;
  left: 529px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_3 {
  width: 100%;
  height: 789px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: absolute;
  top: 1207px;
  left: 0px;
  overflow: hidden;
}
.v2_119 {
  width: 100%;
  height: 1000px;
  background: url("../images/v2_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 0px;
  overflow: hidden;
}
.v2_258 {
  width: 100%;
  height: 999px;
  background: rgba(0,0,0,0.49000000953674316);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 2px;
  overflow: hidden;
}
.v6_6 {
  width: 203px;
  height: 58px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: absolute;
  top: 1083px;
  left: 422px;
  border: 0.5px solid rgba(0,0,0,0.5);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 0px 0px rgba(0.4313725531101227, 0.7568627595901489, 0.8941176533699036, 0.49000000953674316);
  overflow: hidden;
}
.v6_7 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1100px;
  left: 502px;
  font-family: Segoe UI;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_4 {
  width: 100%;
  height: 53px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_161 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 1729px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: right;
}
.v2_162 {
  width: 84px;
  color: rgba(123,125,127,1);
  position: absolute;
  top: 126px;
  left: 1155px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v2_163 {
  width: 78px;
  color: rgba(123,125,127,1);
  position: absolute;
  top: 126px;
  left: 1272px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v2_164 {
  width: 56px;
  color: rgba(123,125,127,1);
  position: absolute;
  top: 126px;
  left: 1401px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v2_165 {
  width: 71px;
  color: rgba(123,125,127,1);
  position: absolute;
  top: 126px;
  left: 1508px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v2_166 {
  width: 72px;
  color: rgba(123,125,127,1);
  position: absolute;
  top: 126px;
  left: 1629px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v2_167 {
  width: 72px;
  color: rgba(123,125,127,1);
  position: absolute;
  top: 126px;
  left: 1733px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v2_257 {
  width: 491px;
  height: 128px;
  background: url("../images/v2_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 110px;
  overflow: hidden;
}
.v2_260 {
  width: 100%;
  height: 74px;
  background: url("../images/v2_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1196px;
  left: 261px;
  overflow: hidden;
}
.v2_259 {
  width: 971px;
  color: url("../images/v2_259.png");
  position: absolute;
  top: 1408px;
  left: 107px;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_263 {
  width: 712px;
  height: 217px;
  background: url("../images/v2_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1681px;
  left: 1108px;
  overflow: hidden;
}
.v6_18 {
  width: 100%;
  height: 685px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: absolute;
  top: 3132px;
  left: 0px;
  overflow: hidden;
}
.v9_35 {
  width: 728px;
  height: 354px;
  background: rgba(230,233,236,1);
  opacity: 1;
  position: absolute;
  top: 3427px;
  left: 961px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v9_36 {
  width: 53px;
  height: 53px;
  background: url("../images/v9_36.png");
  opacity: 1;
  position: absolute;
  top: 3690px;
  left: 1229px;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0.20000000298023224, 0.20000000298023224, 0.20000000298023224, 0.25);
}
.v9_37 {
  width: 696px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 3489px;
  left: 977px;
  font-family: Segoe UI;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v9_38 {
  width: 169px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 3703px;
  left: 1282px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v9_29 {
  width: 15px;
  height: 24px;
  background: rgba(0,0,0,0.8700000047683716);
  opacity: 1;
  position: absolute;
  top: 3576px;
  left: 144px;
}
.v9_30 {
  width: 15px;
  height: 24px;
  background: rgba(0,0,0,0.8700000047683716);
  opacity: 1;
  position: absolute;
  top: 3592px;
  left: 1749px;
}
.v9_24 {
  width: 728px;
  height: 354px;
  background: rgba(230,233,236,1);
  opacity: 1;
  position: absolute;
  top: 3427px;
  left: 219px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v9_27 {
  width: 53px;
  height: 53px;
  background: url("../images/v9_27.png");
  opacity: 1;
  position: absolute;
  top: 3690px;
  left: 457px;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0.20000000298023224, 0.20000000298023224, 0.20000000298023224, 0.25);
}
.v9_25 {
  width: 696px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 3489px;
  left: 235px;
  font-family: Segoe UI;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v9_26 {
  width: 169px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 3703px;
  left: 540px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v8_0 {
  width: 668px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3236px;
  left: 625px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: right;
}
.v9_41 {
  width: 668px;
  color: rgba(4,173,205,1);
  position: absolute;
  top: 3917px;
  left: 159px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v6_19 {
  width: 992px;
  height: 101px;
  background: url("../images/v6_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3111px;
  left: 255px;
  overflow: hidden;
}
.v6_15 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2724px;
  left: 1591px;
  overflow: hidden;
}
.v6_14 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2724px;
  left: 1143px;
  overflow: hidden;
}
.v6_13 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2724px;
  left: 702px;
  overflow: hidden;
}
.v6_12 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2724px;
  left: 262px;
  overflow: hidden;
}
.v6_11 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2362px;
  left: 1584px;
  overflow: hidden;
}
.v6_10 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2362px;
  left: 1143px;
  overflow: hidden;
}
.v6_9 {
  width: 81px;
  height: 84px;
  background: url("../images/v6_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2362px;
  left: 702px;
  overflow: hidden;
}
.v6_4 {
  width: 100%;
  height: 74px;
  background: url("../images/v6_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1995px;
  left: 1048px;
  overflow: hidden;
}
.v2_14 {
  width: 410px;
  height: 326px;
  background: url("../images/v2_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2329px;
  left: 97px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_16 {
  width: 410px;
  height: 326px;
  background: url("../images/v2_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2329px;
  left: 537px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_18 {
  width: 410px;
  height: 326px;
  background: url("../images/v2_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2329px;
  left: 978px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_20 {
  width: 410px;
  height: 326px;
  background: url("../images/v2_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2329px;
  left: 1417px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_22 {
  width: 410px;
  height: 308px;
  background: url("../images/v2_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2685px;
  left: 97px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_24 {
  width: 410px;
  height: 308px;
  background: url("../images/v2_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2685px;
  left: 537px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_26 {
  width: 410px;
  height: 308px;
  background: url("../images/v2_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2685px;
  left: 978px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_28 {
  width: 410px;
  height: 308px;
  background: url("../images/v2_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2685px;
  left: 1418px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_182 {
  width: 836px;
  color: rgba(4,173,205,1);
  position: absolute;
  top: 2142px;
  left: 551px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v2_183 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2446px;
  left: 217px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_184 {
  width: 346px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2494px;
  left: 129px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_185 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2446px;
  left: 709px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_186 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2492px;
  left: 576px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_187 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2446px;
  left: 1103px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_188 {
  width: 344px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2494px;
  left: 1010px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_189 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2446px;
  left: 1549px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_190 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2492px;
  left: 1450px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_191 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2813px;
  left: 198px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_192 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2855px;
  left: 135px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_193 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2813px;
  left: 684px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_194 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2855px;
  left: 576px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_195 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2813px;
  left: 1061px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v2_196 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2855px;
  left: 1016px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v2_197 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2813px;
  left: 1512px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_198 {
  width: 344px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2855px;
  left: 1451px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v2_9 {
  width: 474px;
  height: 535px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 1300px;
  left: 1227px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v2_169 {
  width: 355px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1441px;
  left: 1303px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_168 {
  width: 363px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1348px;
  left: 1292px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v2_10 {
  width: 359px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1574px;
  left: 1292px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_11 {
  width: 359px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1636px;
  left: 1292px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_12 {
  width: 203px;
  height: 58px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: absolute;
  top: 1736px;
  left: 1369px;
  border: 0.5px solid rgba(0,0,0,0.5);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 0px 0px rgba(0.4313725531101227, 0.7568627595901489, 0.8941176533699036, 0.49000000953674316);
  overflow: hidden;
}
.v2_172 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1750px;
  left: 1423px;
  font-family: Segoe UI;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v6_5 {
  width: 829px;
  color: rgba(4,173,205,1);
  position: absolute;
  top: 671px;
  left: 46px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v6_8 {
  width: 77px;
  height: 76px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2370px;
  left: 263px;
  overflow: hidden;
}
.v2_217 {
  width: 131px;
  color: rgba(84,89,95,1);
  position: absolute;
  top: 4104px;
  left: 173px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_218 {
  width: 231px;
  color: rgba(84,89,95,1);
  position: absolute;
  top: 4225px;
  left: 173px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v2_219 {
  width: 208px;
  color: rgba(84,89,95,1);
  position: absolute;
  top: 4340px;
  left: 173px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_220 {
  width: 548px;
  color: rgba(84,89,95,1);
  position: absolute;
  top: 4480px;
  left: 173px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_221 {
  width: 522px;
  color: rgba(84,89,95,1);
  position: absolute;
  top: 4560px;
  left: 173px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_78 {
  width: 981px;
  height: 834px;
  background: rgba(105,102,104,1);
  opacity: 1;
  position: absolute;
  top: 3817px;
  left: 939px;
  overflow: hidden;
}
.v2_92 {
  width: 151px;
  height: 150px;
  background: url("../images/v2_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4199px;
  left: 1585px;
  overflow: hidden;
}
.v2_93 {
  width: 151px;
  height: 150px;
  background: url("../images/v2_93.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_94 {
  width: 131px;
  height: 120px;
  background: url("../images/v2_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 0px;
  overflow: hidden;
}
.v2_95 {
  width: 33px;
  height: 63px;
  background: rgba(244,244,244,0.5);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
}
.v2_96 {
  width: 91px;
  height: 17px;
  background: rgba(118,118,118,0.5);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 37px;
}
.v2_97 {
  width: 61px;
  height: 46px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 23px;
}
.v2_98 {
  width: 3px;
  height: 73px;
  background: rgba(232,232,232,0.5);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 36px;
  transform: rotate(-161deg);
}
.v2_99 {
  width: 11px;
  height: 33px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 78px;
}
.v2_100 {
  width: 55px;
  height: 36px;
  background: rgba(90,90,90,0.5);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 64px;
}
.v2_101 {
  width: 13px;
  height: 43px;
  background: rgba(243,243,243,0.5);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 118px;
}
.v2_102 {
  width: 66px;
  height: 42px;
  background: rgba(208,208,208,0.5);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 17px;
}
.v2_103 {
  width: 17px;
  height: 24px;
  background: rgba(236,236,236,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 76px;
}
.v2_104 {
  width: 183px;
  height: 20px;
  background: url("../images/v2_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4482px;
  left: 1261px;
  overflow: hidden;
}
.v2_105 {
  width: 732px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4563px;
  left: 970px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_106 {
  width: 68px;
  height: 38px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: absolute;
  top: 4563px;
  left: 1697px;
  border-top-left-radius: 5px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v2_222 {
  width: 283px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3829px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v2_223 {
  width: 193px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3959px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v2_224 {
  width: 304px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4089px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v2_225 {
  width: 361px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4219px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v2_226 {
  width: 291px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4479px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_227 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4479px;
  left: 1277px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_228 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4479px;
  left: 1444px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_230 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4568px;
  left: 1712px;
  font-family: Segoe UI;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v9_9 {
  width: 911px;
  height: 131px;
  background: url("../images/v9_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3792px;
  left: 2120px;
  overflow: hidden;
}
.v9_40 {
  width: 469px;
  height: 834px;
  background: url("../images/v9_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3817px;
  left: 473px;
  overflow: hidden;
}
.v9_43 {
  width: 40px;
  height: 40px;
  background: rgba(102,103,105,1);
  opacity: 1;
  position: absolute;
  top: 4051px;
  left: 169px;
}
.name {
  color: #fff;
}
.v9_47 {
  width: 40px;
  height: 40px;
  background: rgba(102,103,105,1);
  opacity: 1;
  position: absolute;
  top: 4288px;
  left: 173px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_52 {
  width: 100%;
  height: 698px;
  background: url("../images/v9_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4651px;
  left: 2px;
  overflow: hidden;
}
.v9_53 {
  width: 100%;
  height: 700px;
  background: rgba(102,103,105,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 4649px;
  left: 0px;
  overflow: hidden;
}
.v9_65 {
  width: 100%;
  height: 101px;
  background: url("../images/v9_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4615px;
  left: 227px;
  overflow: hidden;
}
.v9_54 {
  width: 428px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4771px;
  left: 247px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v2_116 {
  width: 457px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4787px;
  left: 1285px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_117 {
  width: 457px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4845px;
  left: 1285px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_118 {
  width: 457px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4903px;
  left: 1285px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_120 {
  width: 6px;
  height: 4px;
  background: rgba(85,85,85,1);
  opacity: 1;
  position: absolute;
  top: 4974px;
  left: 1320px;
  overflow: hidden;
}
.v2_121 {
  width: 6px;
  height: 4px;
  background: url("../images/v2_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4978px;
  left: 1320px;
  overflow: hidden;
}
.v2_122 {
  width: 457px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4961px;
  left: 1285px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_123 {
  width: 460px;
  height: 215px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5019px;
  left: 1285px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_124 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5019px;
  left: 1764px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2_125 {
  width: 218px;
  height: 51px;
  background: rgba(4,173,205,1);
  opacity: 1;
  position: absolute;
  top: 5254px;
  left: 1404px;
  border: 0.5px solid rgba(0,0,0,0.5);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 0px 0px rgba(0.4313725531101227, 0.7568627595901489, 0.8941176533699036, 0.49000000953674316);
  overflow: hidden;
}
.v2_236 {
  width: 45px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 4793px;
  left: 1205px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_237 {
  width: 56px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 4851px;
  left: 1205px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_238 {
  width: 41px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 4909px;
  left: 1205px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_239 {
  width: 48px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 4967px;
  left: 1205px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_241 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5266px;
  left: 1465px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v9_55 {
  width: 294px;
  height: 246px;
  background: url("../images/v9_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4909px;
  left: 304px;
  overflow: hidden;
}
.v2_126 {
  width: 100%;
  height: 258px;
  background: rgba(38,46,57,1);
  opacity: 1;
  position: absolute;
  top: 5347px;
  left: 2px;
  overflow: hidden;
}
.v2_127 {
  width: 167px;
  height: 100px;
  background: url("../images/v2_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5397px;
  left: 415px;
  overflow: hidden;
}
.v2_128 {
  width: 166px;
  height: 99px;
  background: url("../images/v2_128.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_139 {
  width: 30px;
  height: 30px;
  background: rgba(59,89,152,1);
  opacity: 1;
  position: absolute;
  top: 5517px;
  left: 413px;
  overflow: hidden;
}
.v2_140 {
  width: 30px;
  height: 30px;
  background: rgba(29,161,242,1);
  opacity: 1;
  position: absolute;
  top: 5517px;
  left: 448px;
  overflow: hidden;
}
.v2_141 {
  width: 31px;
  height: 30px;
  background: rgba(201,51,90,1);
  opacity: 1;
  position: absolute;
  top: 5517px;
  left: 483px;
  overflow: hidden;
}
.v2_142 {
  width: 30px;
  height: 30px;
  background: rgba(0,119,181,1);
  opacity: 1;
  position: absolute;
  top: 5517px;
  left: 519px;
  overflow: hidden;
}
.v2_143 {
  width: 30px;
  height: 30px;
  background: rgba(235,46,76,1);
  opacity: 1;
  position: absolute;
  top: 5517px;
  left: 554px;
  overflow: hidden;
}
.v2_144 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5525px;
  left: 561px;
  overflow: hidden;
}
.v2_145 {
  width: 14px;
  height: 15px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_146 {
  width: 103px;
  height: 33px;
  background: rgba(72,186,234,1);
  opacity: 1;
  position: absolute;
  top: 5495px;
  left: 624px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v2_147 {
  width: 101px;
  height: 146px;
  background: url("../images/v2_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5397px;
  left: 1368px;
  overflow: hidden;
}
.v2_148 {
  width: 100px;
  height: 146px;
  background: url("../images/v2_148.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_159 {
  width: 100%;
  height: 35px;
  background: rgba(58,59,59,1);
  opacity: 1;
  position: absolute;
  top: 5605px;
  left: 2px;
  overflow: hidden;
}
.v2_246 {
  width: 215px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 5396px;
  left: 624px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_247 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5436px;
  left: 624px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_248 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5503px;
  left: 644px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v2_249 {
  width: 162px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 5396px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_250 {
  width: 244px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5436px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_251 {
  width: 261px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5516px;
  left: 970px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_252 {
  width: 54px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 5396px;
  left: 1265px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_253 {
  width: 40px;
  color: rgba(110,193,228,1);
  position: absolute;
  top: 5446px;
  left: 1268px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_254 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5485px;
  left: 1268px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_255 {
  width: 177px;
  color: rgba(72,186,234,1);
  position: absolute;
  top: 5612px;
  left: 870px;
  font-family: Segoe UI;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
